/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

/* Define CSS variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
}

/* Heading and paragraph styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

.content p {
    color: white;
    opacity: 0.9;
    /* Adjust opacity for readability */
}

/* Remove underlines from social media links */
footer a {
    text-decoration: none;
}

/* Limit the entire width of the page */
body {
    max-width: 1000px;
    margin: 0 auto;
}

/* Style the Hero Container using Position Absolute */
.hero {
    position: relative;
}

.hero img {
    width: 50%;
    height: auto;
    display: block;
}

about us.content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    border-radius: 10px;
    /* Add border radius for rounded corners */
}

about us.content h1 {
    font-size: 3.0rem;
    margin-bottom: 50px;
    position: absolute;
    top: -450px;
    left: 50%;
    /* Adjusted to start from the left */
    width: 100%;
    /* Occupy the entire width */
    transform: translateX(-50%);
    z-index: 1;
    color: steelblue;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
}

about us.content article p {
    opacity: 1.0;
}

about us.content article {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Change to flex-start */
    text-align: center;
}

.content article h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 10px;
}

.content article .article-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content article .article-content p {
    opacity: 1.0;
    width: 65%;
}

.content article .article-content img {
    width: 25%;
    margin-left: 20px;
    z-index: 1;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    /* Align icons to the right */
    margin-top: 20px;
}

.sociallinks a {
    margin: 0 10px;
    display: inline-block;
}

.sociallinks img {
    width: 30px;
    height: 30px;
}

footer p {
    font-size: 0.8rem;
}

/* New styling for dividing layout into 5 blocks */
header {
    grid-area: header;
    background-color: steelblue;
    padding: 10px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px 8fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

/* Logo styles */
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

/* Heading styles */
h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
    color: steelblue;
    /* Adjusted color */
}

/* Navigation styles */
nav {
    text-align: right;
    /* Center align the navigation links */
}

/* Navigation list styles */
.navigation {
    display: flex;
    /* Adjust display to inline-block */
    list-style: none;
}

/* Navigation list item styles */
.navigation li {
    flex: 1 1 100%;
}

/* Navigation link styles */
.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

/* Navigation link hover styles */
.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

/* New styling for dividing layout into 5 blocks */
main {
    grid-area: main;
    background-color: #eaeaea;
    padding: 20px;
}

section.history {
    grid-area: history;
    background-color: #c0c0c0;
    padding: 20px;
}

/* CSS for Adventures section */
section.images {
    grid-area: images;
    background-color: #a9a9a9;
    padding: 20px;
    overflow-x: auto;
    /* Enable horizontal scrolling if necessary */
    white-space: nowrap;
    /* Prevent wrapping to keep figures inline */
}

section.images figure {
    margin: 0 10px;
    /* Adjust spacing between figures */
    display: inline-block;
    /* Display figures horizontally */
}

section.images img {
    width: 160px;
    /* Adjust the width of the images */
    height: auto;
}

section.images figcaption {
    text-align: center;
    /* Center align captions */
    font-size: 0.8rem;
    /* Adjust font size of captions */
    margin-top: 5px;
    /* Adjust spacing between image and caption */
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: #808080;
    color: white;
    padding: 10px;
}

/* Contact Form Styles */
.contact-form {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form textarea,
.contact-form select {
    width: 100%;
    /* Set width for other input types */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form #email,
.contact-form #purpose {
    width: calc(50% - 5px);
    /* Set specific width for email and purpose inputs */
}

.contact-form textarea {
    height: 100px;
}

.contact-form input[type="radio"] {
    margin-right: 5px;
}

.contact-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Employee Profile Styles */
.employee-profile {
    text-align: center;
    margin-bottom: 20px;
}

.employee-profile img {
    width: 150px;
    /* Adjust the width as needed */
    height: 150px;
    /* Adjust the height as needed */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Trips Page Styles */
.trips-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.trip {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trip img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.trip-content {
    width: 60%;
}

.trip h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.trip p {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.trip .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trip .details button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.trip .details button:hover {
    background-color: #0056b3;
}

/* Table Styles */
.trip-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.trip-table th,
.trip-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.trip-table th {
    background-color: var(--primary-color);
    color: #fff;
}


/* Homepage Styles */

.hero {
    position: relative;
    margin-bottom: 20px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    /* Change to a lighter color for better contrast */
    width: 90%;
    padding: 0px;
    /* Add padding for better spacing */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #fff;
    /* Match the color of the background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Add text shadow for better visibility */
}

.newsletter {
    text-align: left;
    margin-bottom: 20px;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
}

.newsletter .form-item {
    margin-bottom: 10px;
    width: 100%;
    /* Set width to 100% */
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
    width: calc(100% - 20px);
    /* Adjust width to fit the container */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;

}

.call-to-action {
    text-align: center;
    margin-bottom: 20px;
}

.call-to-action .btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.grid-item h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.grid-item p {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

/* Link to Trips page wireframe in footer */
footer a#wireframe-link {
    color: white;
    text-decoration: underline;
    margin-top: 10px;
    display: block;
}