@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {

    --primary-color: #87CEEB;
    --secondary-color: #00BFFF;
    --accent-color: #FFFFE0;
    --additional-accent-color: #333333;


    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;


    --navigation-background-color: #333333;
    --navigation-link-color: #FFFFFF;
    --navigation-hover-link-color: #00BFFF;
    --navigation-hover-background-color: #87CEEB;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: #333333;
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-family: var(--heading-font);
}

p {
    padding-bottom: 20px;
}


nav {
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--navigation-link-color);
}

nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}