@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: navy;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

legend {
    font-size: 1.3rem;
    color: navy;
    padding: 0.5rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: navy;
}

input[type="text"],
textarea,
select,
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #004c8c;
    color: #fff;
}

.column1,
.column2 {
    display: grid;
    grid-template-columns: 1fr;
}

.column1 label,
.column2 label,
.column1 input,
.column2 input,
.column1 select,
.column2 select,
.column1 textarea,
.column2 textarea {
    width: calc(100% - 22px);
    margin: 5px;
}