* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
    margin: 0 auto;
    /* Center the main content */
}

main img.rounded {
    border-radius: 50%;
    float: right;
    margin-left: 20px;
    max-width: 200px;
    /* Set a maximum width */
    max-height: 115px;
    /* Set a maximum height */
    width: auto;
    height: auto;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

aside {
    width: 20em;
    text-align: center;
    margin-top: 20px;
    /* Add margin to create space between main content and aside */
    float: left;
    /* Float the aside to the left */
    position: relative;
    /* Add position property */
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    /* Position the heading element absolutely */
    top: 10px;
    /* Adjust top positioning as needed */
    left: 50%;
    /* Center the heading horizontally */
    transform: translateX(-50%);
    /* Adjust for center alignment */
    background-color: rgba(255, 255, 255, 0.8);
    /* Add background color with opacity */
    padding: 10px;
    border-radius: 5px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    clear: both;
    /* Clear the float to prevent overlapping with footer */
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

/* Class Selectors */

.box {
    /* Set basic box model properties */
    margin: 1rem;
    border: 1px solid rgba(red, green, blue, alpha);
    padding: 1rem;
    /* Add decorations */
    background-color: #ddd;
    color: #000;
}